<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link href="/css/output.css" rel="stylesheet" />
    <title>Spell it out</title>
  </head>
  <body>
    <main class="md:container md:mx-auto">
      <h1 class="text-3xl text-center bg-red-900">Spell it out</h1>
        <br/>
        <span class="text-xl">Companies</span>
        <div>{{ template "companies.html" . }}</div>
    </main>
  </body>
</html>
