<div id="spell" class="text-center">
    <form action="/spelling" method="get" hx-target="#spell" hx-boost="true">
        <div>
            <input id="word" type="text"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="word" />
            <select id="lang" name="lang"
                class="shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mt-2">
                <option value="en">🇬🇧 English</option>
                <option value="de">🇩🇪 German</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">
            Spell it out
        </button>
    </form>
</div>