<div id="spell">
    <form action="/spelling" method="get" hx-target="#spell" hx-boost="true">
        <input id="word" type="text"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            name="word" />
        <button type="submit"
            class="inline-flex items-center h-8 px-4 m-2 text-sm text-blue-100 transition-colors duration-150 bg-blue-700 rounded-lg focus:shadow-outline hover:bg-blue-800"
            href="">
            Spell it out
        </button>
    </form>
</div>